<header>

    <div class="hero">
        <p class="tamil-display">எந்த நேரத்திலும் உங்கள் பாடங்களைக் கற்றுக்கொள்ளுங்கள்</p>
        <p class="class-info">வகுப்பு : 10, 11, 12 மட்டுமே</p>

    </div>




</header>