<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./subject.css" />
  </head>
  <body>
    {{> nav}}

    <button style="margin-top: 400px"  onclick="ajaxCall()">Click me!!</button>
    <script>
        function ajaxCall(){
            let chapter = 1, exercise_no = 1,example = "null", problem_no = 2;
            const formData = new FormData();
            formData.append('chapter_no', chapter.toString()); // Add additional data
            formData.append('exercise_no',exercise_no.toString());
            formData.append('example',example);
            formData.append('problem_no',problem_no.toString());
            
            const xhr = new XMLHttpRequest();

            xhr.open('POST', '/subject', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log(xhr.responseText);
                    } else {
                        console.error('Request failed:', xhr.statusText);
                    }
                }
            };
            
            xhr.send(formData);
        }
    </script>
  </body>
</html>

