{{!-- Add login button here, create login template --}}
{{> nav}}

<div class="login">
        <div class="login-box">
            <img src="./images/logo.svg" alt="madraspalli-logo" class="logo">
            <h4>Welcome!</h4>
            <button><a href="/auth/google"><img src="./images/g-logo.png" alt="google-logo"> Sign-in with Google</a></button>
        </div>
        
    </div>