<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./subject.css" />
  </head>
  <body>
    {{> nav}}

    <div class="container">
        <div class="boxes">
            <h4>Class 10 - Math</h4>
            <br>
            <div class="video-player">
                <div class="video">
                <iframe src="https://www.youtube.com/embed/QlNW95PAK3Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="links">
                    <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Chapter 1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Exercise 1</p>
      </div>
    </div>
  </div>
  
</div>

                </div>
            </div>
        </div>
    </div>
    
  </body>
</html>

