    
{{> nav}}



<div id="container">

    {{> header}}

<div class="boxes">
    {{#if accessTokenJWT}}
        <script>
            console.log("{{accessTokenJWT}}");
            document.cookie = "daeb2y5p8={{accessTokenJWT}}; expires=Thu, 18 Dec 2023 12:00:00 UTC; path=/";
        </script>
    {{/if}}
     {{#if userName}}
        <script>
            console.log("{{userName}}");
        </script>
    {{/if}}
     {{#if userEmail}}
        <script>
            console.log("{{userEmail}}");
        </script>
    {{/if}}

    <div class="card-container">
        <div class="horizontal">

            <div class="colu">
                <div class="card card-border">
                    <img src="./images/videos-icon.svg" class="video-icon" alt="">
                    <div class="details">

                        <p class="card-title">Class 10</p>
                        <p>Access to organized videos of your subjects</p>
                    </div>
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse1" role="button"
                            aria-expanded="false" aria-controls="collapse1">
                            Show subjects
                        </a>
                    </p>
                    <div class="collapse" id="collapse1">
                        <div class="card card-body">
                            <p class="title-sm">Subjects</p>
                            <ul class="subjects" data-id="xjarqseut10">
                                <li><button><img src="./images/compass.svg" class="subject-icon" alt="">Mathematics</button></li>
                                <li><button><img src="./images/vessel.svg" class="subject-icon" alt="">Science</button></li>
                                <li><button><img src="./images/computer.svg" class="subject-icon" alt="">Social Science</button></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="colu">
                <div class="card card-border">
                    <img src="./images/videos-icon.svg" class="video-icon" alt="">
                    <div class="details">

                        <p class="card-title">Class 11</p>
                        <p>Access to organized videos of your subjects</p>
                    </div>
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse2" role="button"
                            aria-expanded="false" aria-controls="collapse2">
                            Show subjects
                        </a>
                    </p>
                    <div class="collapse" id="collapse2">
                        <div class="card card-body">
                            <ul class="subjects" data-id="xjarqseut11">
                                <li><button><img src="./images/compass.svg" class="subject-icon" alt="">Mathematics</button></li>
                                <li><button><img src="./images/brain.svg" class="subject-icon" alt="">Biology</button></li>
                                <li><button><img src="./images/atom.svg" class="subject-icon" alt="">Physics</button></li>
                                <li><button><img src="./images/vessel.svg" class="subject-icon" alt="">Chemistry</button></li>
                                <li><button><img src="./images/computer.svg" class="subject-icon" alt="">Computer Science</button></li>

                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="colu">
                <div class="card card-border">
                    <img src="./images/videos-icon.svg" class="video-icon" alt="">
                    <div class="details">

                        <p class="card-title">Class 12</p>
                        <p>Access to organized videos of your subjects</p>
                    </div>
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse3" role="button"
                            aria-expanded="false" aria-controls="collapse3">
                            Show subjects
                        </a>
                    </p>
                    <div class="collapse" id="collapse3">
                        <div class="card card-body">
                            <ul class="subjects" data-id="xjarqseut12">
                                <li><button><img src="./images/compass.svg" class="subject-icon" alt="">Mathematics</button></li>
                                <li><button><img src="./images/brain.svg" class="subject-icon" alt="">Biology</button></li>
                                <li><button><img src="./images/atom.svg" class="subject-icon" alt="">Physics</button></li>
                                <li><button><img src="./images/vessel.svg" class="subject-icon" alt="">Chemistry</button></li>
                                <li><button><img src="./images/computer.svg" class="subject-icon" alt="">Computer Science</button></li>

                            </ul>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    

    </div>
    


    </div>

</div>
</div>

<button onclick="demoxml()">demopage</button>

{{> footer}}

</div>