{{> nav}}

<div>
    <div>
        <p>1. Neural Networks</p>
        <div>
            <img src="./images/1_1_1.png">
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CnPT4OV_INs?si=5IgQuWUcKBSV9dZ6&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div>
        <p>1. Mortage</p>
        <div>
            <img src=".images/1_1_2.png">
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CnPT4OV_INs?si=5IgQuWUcKBSV9dZ6&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div>
        <p>1. figma Networks</p>
        <div>
            <img src="./images/1_1_3.png">
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CnPT4OV_INs?si=5IgQuWUcKBSV9dZ6&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>