body{
    font-family: 'Work Sans', sans-serif !important;
    background-color: rgb(227, 236, 252) !important;
}

nav{
    font-weight: 500;
    /* border-bottom: 2px solid #000; */
    padding: 16px 64px !important;
    border-radius: 8px !important;
    margin: 16px 32px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.bg{
    background-color: #fff !important;
}



.hero{
    margin-top: 150px;
    padding-right: 6%;
    padding-left: 6%;
    margin-bottom: 32px;
    text-align: center;

}

p.tamil-display{
    font-family: 'Noto Sans Tamil', sans-serif !important;
    font-size: 40px;
    font-weight: 700;
}

p.class-info{
    background-color: rgb(211, 233, 248);
    color: rgb(9, 150, 206);
    padding: 8px 16px;
    font-weight: 600 !important;
    border-radius: 100px;
}


.boxes{
    padding-bottom: 32px;
    padding-left: 6%;
    padding-right: 6%;
    background-color: #fff;
    padding-top: 40px;
    border-radius: 20px 20px 0px 0px;
}

.horizontal{
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.card-container{

}

img.video-icon{
    width: 48px;
}  

.details{
    margin-top: 24px;
}



.card{
    padding: 24px;
}

.card-border{
    border: 2px solid #000 !important;
}

.card-title{
    font-weight: 600;
    margin-bottom: 0%;
}

.btn{
    font-weight: 500 !important;
}

.title-sm{
    font-weight: 500;

}

ul.subjects{
    list-style: none;
    margin-left: 0% !important;
    padding-left: 0% !important;
}

ul.subjects li{
    padding: 16px;
    transition: all .2s ease;

}

ul.subjects li:hover{
    background-color: aliceblue;
}

ul.subjects li a{
    text-decoration: none;
    font-weight: 500;
}

img.subject-icon{
    width: 24px;
    margin-right: 16px;
}



.subject-title{
    margin-top: 110px;
    padding: 0px 16px;
}

.title-m{
    font-weight: 600;
    font-size: 20px;
}

.video-container{
    margin: 24px 16px;
    border-radius: 8px !important;
    background-color: #fff;
}

.video-data{
    padding: 16px;
}

.curr-video{
    font-weight: 500;
    font-size: 20px;
}



@media only screen and (max-width: 600px) {

    nav{
        font-weight: 500;
        padding: 16px 16px !important;
        border-radius: 1000px;
        margin: 16px 16px;
    }

    .navbar-nav{
        text-align: center;
        margin-top: 24px;
    }

    p.tamil-display{
        font-size: 24px;
    }
    
    .horizontal{
        flex-direction: column;
    }



}