body{
    font-family: 'Work Sans', sans-serif !important;
    background-color: rgb(227, 236, 252) !important;
}

nav{
    font-weight: 500;
    /* border-bottom: 2px solid #000; */
    padding: 16px 64px !important;
    border-radius: 8px !important;
    margin: 16px 32px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.navbar-toggler{
    transition: all .2s ease-in-out;

}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler.collapsed .fa-bars {

    display: inline-block;
}

.navbar-toggler.collapsed .fa-times {
    display: none;
}
  
.navbar-toggler:not(.collapsed) .fa-bars {
    display: none;
}

.navbar-toggler:not(.collapsed) .fa-times {
    display: inline-block;
}

.bg{
    background-color: #fff !important;
}


header{
    background-image: url('images/bg-illus.png') !important;
    background-size: cover;
    height: 100vh;

}


.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-right: 6%;
    padding-left: 6%;
    margin-bottom: 32px;
    text-align: center;

}

p.tamil-display{
    padding-top: 150px;
    font-family: 'Noto Sans Tamil', sans-serif !important;
    font-size: 40px;
    font-weight: 700;
}

p.class-info{
    background-color: rgb(211, 233, 248);
    color: rgb(9, 150, 206);
    padding: 8px 16px;
    font-weight: 600 !important;
    border-radius: 100px;
    width: fit-content;
}


.boxes{
    padding-bottom: 32px;
    padding-left: 6%;
    padding-right: 6%;
    background-color: #fff;
    padding-top: 40px;
    border-radius: 20px 20px 0px 0px;
}

.horizontal{
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.card-container{

}

img.video-icon{
    width: 48px;
}  

.details{
    margin-top: 24px;
}



.card{
    padding: 24px;
}

.card-border{
    border: 2px solid #000 !important;
}

.card-title{
    font-weight: 600;
    margin-bottom: 0%;
}

.btn{
    font-weight: 500 !important;
}

.title-sm{
    font-weight: 500;

}

ul.subjects{
    list-style: none;
    margin-left: 0% !important;
    padding-left: 0% !important;
}

ul.subjects li{
    padding: 16px;
    transition: all .2s ease;

}

ul.subjects li:hover{
    background-color: aliceblue;
}

ul.subjects li a{
    text-decoration: none;
    font-weight: 500;
}

img.subject-icon{
    width: 24px;
    margin-right: 16px;
}



.subject-title{
    margin-top: 110px;
    padding: 0px 16px;
}

.title-m{
    font-weight: 600;
    font-size: 20px;
}

.title-sm{
    font-weight: 500 !important;
}



/* Chapters */

.chapters{
    margin: 120px 32px;
    padding: 32px 16px;
    background-color: #fff;
    border-radius: 8px !important;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


.all-chap{
    display: flex;
    width: fit-content;
    gap: 16px;
    align-items: center;
    border-bottom: 1px solid #b9b9b9 !important;
}

.accordion-button{
    padding: 16px 10px  !important;
}

.chap-num{
    width: 56px;
    height: 56px;
   text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 100px;
    padding-top: 16px;
}

.chap-num p{
    margin-bottom: 0%;
}

.chap-name{
    margin-bottom: 0%;
}

.accordion-body{
    padding: 16px 0px !important;
}

p.exercises{
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-around;
    
}

p.exercises a{
    margin-bottom: 0%;
    text-decoration: none;
    padding: 12px;
}

p.exercises span{
    padding-top: 12px;
}

a.non-math-exercises{
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

a.non-math-exercises p{
    margin-bottom: 0%;
    padding: 12px;
}



/* Login */

.login{
    background-image: url('images/bg-login.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    border-radius: 8px;
    background-color: #fff;
    padding: 24px;
    width: fit-content;
    text-align: center;
}

.login-box img.logo{
    margin-bottom: 24px;
}

.login-box button{
    background-color: black;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    border: none;
    margin-top: 32px;
}

.login-box button img{
    margin-right: 16px;
}



@media only screen and (max-width: 600px) {

    nav{
        font-weight: 500;
        padding: 16px 16px !important;
        border-radius: 0px !important;
        margin: 0px;
    }

    .navbar-nav{
        text-align: center;
        margin-top: 24px;
    }

    header{
        background-position-x: center;
        background-position-y: center;

    }

    p.tamil-display{
        font-size: 24px;
        padding-top: 130px;
    }
    
    .horizontal{
        flex-direction: column;
    }


    /* Chapters */

    .chapters{
        margin: 120px 0px;
        border-radius: 0px !important;
    }

    .all-chap{
        gap: 16px;
    }

    .chap-name{
        max-width: 200px;
    }

}